@media (max-width: 1750px) {

.success {
	border-radius: 0;
	}

}

@media (max-width: 1720px) {

.product-info { 
	border-radius: 0;
	}

.product-info:before { 
	border-radius: 0;
	}

.product-info:after { 
	border-radius: 0;
	}

.parts-supply { 
	border-radius: 0;
	}

.quality { 
	border-radius: 0;
	}

.delivery-rare { 
	border-radius: 0;
	}

}

@media (max-width: 1600px) {

.position-selection { 
	padding: 50px 0;
	border-radius: 0;
	}

.office { 
	padding: 70px 0;
	border-radius: 0;
	}

.get-catalog { 
	padding: 70px 0;
	border-radius: 0;
	overflow: hidden;
	}

.get-catalog:after { 
	border-radius: 0;
	}

.get-catalog__img {
	width: 800px;
	right: -15px;
	}

.get-catalog__img img { 
	width: 100%;
	}

.letters { 
	padding: 70px 0;
	border-radius: 0;
	}

}

@media (max-width: 1300px) {

[class*="__container"] { 
	padding: 0 15px;
	}

.logo__description { 
	line-height: 20px;
	}

.delivery-header__description a { 
	font-size: 14px;
	line-height: 26px;
	}

.delivery-header__img { 
	margin: 0 10px 0 0;
	width: 56px;
	}

.mail__address { 
	margin: 0 0 10px;
	padding: 0 0 0 30px;
	font-size: 16px;
	}

.mail__text { 
	padding: 0 0 0 30px;
	font-size: 13px;
	}

.phone__number { 
	margin: 0 0 5px;
	font-size: 18px;
	}

.phone__work { 
	margin: 0 0 10px;
	font-size: 13px;
	}

.phone__link { 
	font-size: 12px;
	}

.detail__title { 
	font-size: 40px;
	line-height: 50px;
	}

.form-promo__top-col { 
	padding: 50px 60px 39px;
	}

.form-promo_changed .form-promo__top-col { 
	padding: 50px 60px 39px;
	}

.form-promo__img { 
	display: none;
	}

.form-promo__bottom-col { 
	padding: 30px 60px 32px;
	}

.form-promo__top-col { 
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	}

.form-promo__contacts { 
	justify-content: center;
	}

.get-catalog__img { 
	width: 700px;
	}

.letters__btn-panel { 
	padding-top: 20px;
	}

}

@media (max-width: 1200px) {

.info { 
	padding: 50px 0;
	}

.agromir-info { 
	padding: 50px 0;
	}

.parts-supply {
	padding: 50px 0;
	}

.parts-supply__title { 
	font-size: 46px;
	line-height: 60px;
	}

.parts-supply__subtitle { 
	font-size: 30px;
	}

.parts-supply__advantages { 
	gap: 0 30px;
	}

.reviews { 
	padding: 50px 15px;
	border-radius: 0;
	}

.office-info { 	
	padding: 50px 0;
	}

.reviews_indent-top { 
	margin: 0;
	}

.product-info { 
	padding: 50px 0;
	}

.detail { 
	margin: 0 0 50px;
	}

.product-documentation { 
	padding: 50px 0 0;
	}

.quality-control { 
	padding: 50px 0;
	}

.warranty { 
	padding: 50px 15px;
	border-radius: 0px;
	}

.spare-parts { 
	padding: 50px 0;
	}

.product-delivery { 
	padding: 50px 0 0;
	}

.spare-parts__title span { 
	font-size: 26px;
	line-height: 36px;
	}

.location__col { 
	padding: 50px 0;
	}

.consultation-form { 
	padding: 10px;
	}

.consultation-form__in { 
	padding: 50px 30px;
	}

.consultation-form__title { 
	font-size: 26px;
	line-height: 34px;
	}

.consultation-form__top-panel {
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	}

.manager { 
	padding: 0;
	}

.consultation { 
	padding: 50px 0;
	}

.get-catalog__img { 
	width: 600px;
	}

.letters__slider { 
	padding: 0 60px;
	}

.letters__slider .swiper-button-next, 
.letters__slider .swiper-button-prev { 
	width: 40px;
	height: 40px;
	}

.letters__title { 
	font-size: 20px;
	line-height: 30px;
	}

.letters__comment { 
	padding: 20px;
	}

.letters__post br { 
	display: none;
	}

.delivery { 
	padding: 50px 0;
	}

.work { 
	padding: 50px 0;
	}

.quality { 
	margin: 0;
	padding: 50px 0;
	}

.delivery-rare { 
	padding: 50px 0;
	}

.positions { 
	padding: 50px 0;
	}

.product-catalog { 
	grid-template-columns: repeat(2, 1fr);
	}

.financial-conditions { 
	padding: 50px 0;
	}

}

@media (max-width: 1100px) {

.info__catalog { 
	gap: 0 15px;
	}

.tabs { 
	gap: 0 30px;
	}

.tabs__content { 
	max-width: 600px;
	}

.title-main br { 
	display: none;
	}

.contacts { 
	gap: 0 50px;
	}

.detail__photo { 
	width: 500px;
	}

.product-documentation__photo { 
	width: 400px;
	top: 80px;
	}

.warranty__doc { 
	width: 560px;
	bottom: -30px;
	}

.protection { 
	gap: 20px 20px;
 	}

.protection__description { 
	padding: 0 0 0 15px;
 	}

.protection__title { 
	font-size: 24px;
	line-height: 28px;
	}

.work__form-promo form { 
	grid-template-columns: repeat(2, 1fr);
	}

.work__form-promo fieldset:nth-child(3) { 
	grid-column: 1/-1;
	}

.warranty { 
	margin: 0;
	}

}

@media (max-width: 1080px) {

.header__logo .logo__img { 
	margin: 0 10px 0 0;
	width: 130px;
	height: 100px;
	}

.header__logo .logo__img:before { 
	height: 138px;
	}

.header__logo .logo__img img { 
	width: 100px;
	height: 84px;
	}

.logo__img { 
	width: 100px;
	}

.phone__link:after { 
	bottom: -2px;
	}

.success { 
	padding: 80px 0;
	}

.success__manager-photo { 
	width: 500px;
	right: 0;
	bottom: -80px;
	}

.success__title { 
	font-size: 40px;
	line-height: 50px;
	}

.success__text { 
	margin: 0 0 30px;
	font-size: 24px;
	line-height: 36px;
	}

.success__col { 
	gap: 0 50px;
	}

.question { 
	padding: 80px 0;
	}

.title-main { 
	font-size: 36px;
	line-height: 46px;
	}

.subtitle { 
	margin: 0 0 30px;
	font-size: 24px;
	line-height: 34px;
	}

.phone-company span { 
	font-size: 26px;
	}

.question__panel { 
	gap: 0 40px;
	}

.office-info__time { 
	margin: 0 0 40px;
	font-size: 22px;
	line-height: 30px;
	}

#promo-code .hystmodal__window { 
	padding: 30px;
	}

.footer__col { 
	gap: 15px 0;
	}

.development__text { 
	font-size: 14px;
	line-height: 24px;
	}

.development__logo { 
	width: 100px;
	height: 40px;
	}

.types-delivery__item { 
	padding: 25px;
	}

.types-delivery__icon { 
	margin: 0 0 10px;
	width: 40px;
	height: 40px;
	}

.types-delivery__icon img { 
	width: 100%;
	}

.types-delivery p { 
	font-size: 16px;
	line-height: 20px;
	}

.form-promo__top-col { 
	padding: 30px;
	}

.form-promo_changed .form-promo__top-col { 
	padding: 30px;
	}

.form-promo__bottom-col { 
	padding: 30px;
	}

.form-promo__title { 
	font-size: 28px;
	line-height: 40px;
	}

.form-promo__title span { 
	display: inline;
	padding: 0;
	}

.form-promo__title span:before { 
	display: none;
	}

.form-promo__text { 
	font-size: 20px;
	line-height: 30px;
	}

.form-promo__contacts { 
	gap: 0 20px;
	}

.form-promo__contacts dt { 
	font-size: 18px;
	}

.form-promo__contacts dd { 
	font-size: 18px;
	}

.form-promo__contacts dd a { 
	gap: 0 10px;
	}

.cost-calculation__in { 
	padding: 30px;
	}

.cost-calculation { 
	border-radius: 20px;
	}

.cost-calculation:before { 
	border-radius: 20px;
	}

.title { 
	font-size: 30px;
	line-height: 40px;
	}

.footer__link { 
	font-size: 14px;
	}

.callback__description p br { 
	display: none;
	}
 
.location__form-main { 
	padding: 30px;
	border-radius: 10px;
	}

.form-main__title { 
	font-size: 26px;
	line-height: 30px;
	}

.location__map { 
	top: 117px;
	}

.form-main__text { 
	font-size: 20px;
	line-height: 24px;
	}

.work__form-promo .form-promo__top-col { 
	padding: 30px;
	}

.quality__text { 
	font-size: 24px;
	line-height: 30px;
	}

.quality__text br { 
	display: none;
	}

}

@media (max-width: 1024px) {

.info__catalog { 
	display: flex;
	gap: 0 15px;
	margin: 0 -15px;
	padding: 0 15px;
	overflow-x: scroll; 
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.info__catalog::-webkit-scrollbar {
	width: 0; 
	height: 0;
	background: transparent;
	}

.info__item { 
	min-width: 370px;
	width: 370px;
	white-space: normal;
	}

.info__description { 
	padding: 0;
	}

.agromir-info__catalog { 
	display: flex;
	gap: 0 15px;
	margin: 0 -15px;
	padding: 0 15px;
	overflow-x: scroll; 
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.agromir-info__catalog::-webkit-scrollbar {
	width: 0; 
	height: 0;
	background: transparent;
	}

.agromir-info__item { 
	min-width: 370px;
	width: 370px;
	white-space: normal
	}

.hystmodal .types-delivery { 
	margin: 0 -30px;
	padding: 0 30px;
	}

.types-delivery { 
	display: flex;
	gap: 0 15px;
	margin: 0 -15px 50px;
	padding: 0 15px;
	overflow-x: scroll; 
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.types-delivery::-webkit-scrollbar {
	width: 0; 
	height: 0;
	background: transparent;
	}

.types-delivery__item { 
	width: 340px;
	min-width: 340px;
	white-space: normal;
	}

.hystmodal .types-delivery__item { 
	width: 270px;
	min-width: 270px;
	}

.cursor-icon { 
	display: block;
	}

.quality-control__catalog { 
	display: flex;
	gap: 0 15px;
	margin: 0 -15px;
	padding: 0 15px;
	overflow-x: scroll; 
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.quality-control__catalog::-webkit-scrollbar {
	width: 0; 
	height: 0;
	background: transparent;
	}

.quality-control__item { 
	width: 270px;
	min-width: 270px;
	white-space: normal;
	}

.quality-control__photo { 
	margin: 0 0 15px;
	}

.quality-control__photo img { 
	border-radius: 10px;
	}

.quality-control__text { 
	font-size: 18px;
	line-height: 26px;
	}

.photos { 
	display: flex;
	gap: 0 15px;
	margin: 0 -15px 50px;
	padding: 0 15px;
	overflow-x: scroll; 
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.photos::-webkit-scrollbar {
	width: 0; 
	height: 0;
	background: transparent;
	}

.photos__item { 
	width: 370px;
	min-width: 370px;
	white-space: normal;
	}

.photos__item img { 
	border-radius: 10px;
	}

.catalog { 
	display: flex;
	gap: 0 15px;
	margin: 0 -15px 50px;
	padding: 0 15px;
	overflow-x: scroll; 
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.catalog_indent-bottom-none { 
	margin-bottom: 0;
	}

.catalog::-webkit-scrollbar {
	width: 0; 
	height: 0;
	background: transparent;
	}

.catalog__item { 
	padding: 15px;
	width: 340px;
	min-width: 340px;
	white-space: normal;
	border-radius: 10px;
	}

.catalog__title { 
	font-size: 18px;
	line-height: 26px;
	}

.catalog_four-col .catalog__title { 
	font-size: 18px;
	line-height: 26px;
	}

.company { 
	display: flex;
	gap: 0 15px;
	margin: 0 -15px 50px;
	padding: 0 15px;
	overflow-x: scroll; 
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.company::-webkit-scrollbar { 
	width: 0; 
	height: 0;
	background: transparent;
	}

.company__item { 
	padding: 15px;
	width: 270px;
	min-width: 270px;
	white-space: normal;
	border-radius: 15px;
	}

.company__name { 
	font-size: 16px;
	line-height: 20px;
	}

.consultants { 
	display: flex;
	gap: 0 15px;
	margin: 0 -15px;
	padding: 0 15px;
	overflow-x: scroll; 
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.consultants::-webkit-scrollbar {
	width: 0; 
	height: 0;
	background: transparent;
	}

.consultants__item { 
	width: 360px;
	min-width: 360px;
	white-space: normal;
	border-radius: 10px;
	}

.consultants__photo { 
	margin: 0 0 20px;
	}

.consultants__description { 
	padding: 0;
	}

.consultants__title { 
	margin: 0 0 10px;
	font-size: 20px;
	line-height: 26px;
	}

.consultants__description p { 
	font-size: 16px;
	line-height: 24px;
	}

#promo-code .hystmodal__window { 
	padding: 30px 30px 0;
	}

.promo-code__form { 
	margin: 0 auto 50px;
	max-width: 420px;
	}

.promo-code__img { 
	position: static;
	margin: 0 auto;
	max-width: 420px;
	width: 100%;
	}

.promo-code__title span { 
	padding: 10px 25px;
	font-size: 24px;
	}

.manager { 
	gap: 30px 30px;
	}

.manager__item { 
	display: block;
	padding: 30px;
	text-align: center;
	border: 1px solid #dadada;
	border-radius: 10px;
	}

.manager__img { 
	margin: 0 auto 30px;
	width: 200px;
	height: 200px;
	}

.manager__img img { 
	width: 100%;
	height: 100%;
	object-fit: contain;
	}

.manager__description { 
	padding: 0;
	}

.manager__list { 
	text-align: left;
	}

.get-catalog__img { 
	width: 600px;
	}

.get-catalog__img { 
	display: none;
	}

.get-catalog__form-main { 
	margin: 0 auto;
	}

.letters__item { 
	align-items: flex-start;
	}

.letters__photo {
	max-width: 300px;
	width: 100%;
	}

.letters__btn-panel { 
	display: flex;
	justify-content: center;
	padding-left: 0;
	}

.fancybox-navigation button.fancybox-button { 
	padding: 13px;
	width: 40px;
	height: 40px;
	}

.protection__description br { 
	display: none;
	}

.protection__info-small-panel { 
	padding: 15px;
	border-radius: 10px;
	}

.work__conditions { 
	gap: 15px 15px;
	}

.types-payment { 
	display: flex;
	gap: 0 15px;
	margin: 0 -15px 40px;
	padding: 0 15px;
	overflow-x: scroll; 
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.types-payment::-webkit-scrollbar {
	width: 0; 
	height: 0;
	background: transparent;
	}

.types-payment__item { 
	padding: 25px;
	width: 340px;
	min-width: 340px;
	white-space: normal;
	}

.types-payment__icon { 
	margin: 0 0 15px;
	}

.types-payment__title { 
	margin: 0 0 10px;
	font-size: 20px;
	line-height: 24px;
	}

.types-payment__item p { 
	font-size: 16px;
	line-height: 26px;
	}

.location__col { 
	display: block;
	padding: 0;
	}

.location__map { 
	position: relative;
	margin: 0 0 30px;
	height: 400px;
	top: 0;
	overflow: hidden;
	border-radius: 10px;
	}

.location__form-main { 
	margin: 0 auto;
	}

.delivery-rare { 
	position: relative;
	}

.delivery-rare:before { 
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	backdrop-filter: blur(3px);
	background: rgba(0, 0, 0, 0.2);
	content: "";
	}

.delivery-rare__container { 
	position: relative;
	z-index: 5;
	}

}

@media (max-width: 1000px) {

.logo__description { 
	font-size: 12px;
	line-height: 16px;
	}

.delivery-header__description a { 
	font-size: 12px;
	line-height: 16px;
	}

.delivery-header__img { 
	width: 50px;
	}

.mail__address { 
	margin: 0 0 5px;
	font-size: 14px;
	line-height: 18px;
	}

.mail__text { 
	font-size: 12px;
	}

.phone__number { 
	font-size: 16px;
	}

.tabs__content { 
	max-width: 500px;
	}

.contacts { 
	gap: 0 30px;
	}

.contacts__phone { 
	font-size: 20px;
	line-height: 24px;
	}

.contacts__mail { 
	font-size: 20px;
	line-height: 24px;
	}

p { 
	font-size: 16px;
	line-height: 24px;
	}

.location_changed { 
	height: 400px;
	}

.hystmodal .hystmodal__close { 
	right: -20px;
	}

.callback { 
	display: block;
	}

.callback__description { 
	display: none;
	left: 0;
	}

.callback__title br { 
	display: none;
	}

.callback__description p br { 
	display: none;
	}

.callback__phone { 
	margin: 0 auto;
	max-width: 300px;
	}

.hystmodal .hystmodal__window { 
	padding: 30px;
	}

.shipment { 
	padding: 30px;
	}

.shipment__title { 
	font-size: 30px;
	line-height: 36px;
	}

.shipment__description p { 
	font-size: 20px;
	line-height: 30px;
	}

.detail__photo { 
	margin: 0 30px 0 0;
	width: 400px;
	}

.detail__title { 
	margin: 0 0 20px;
	font-size: 36px;
	line-height: 46px;
	}

.warranty__doc { 
	width: 500px;
	}

.exhibition-samples { 
	flex-wrap: wrap;
	}

.exhibition-samples__description { 
	margin: 0;
	width: 100%;
	}

.exhibition-samples__photo { 
	margin: 0 0 30px;
	order: -1;
	width: 100%;
	}

.exhibition-samples__photo img { 
	border-radius: 10px;
	}

.calculation { 
	padding: 30px;
	}

.calculation__description { 
	padding: 0;
	}

.calculation__title { 
	font-size: 30px;
	line-height: 36px;
	}

.calculation__description p { 
	font-size: 20px;
	line-height: 30px;
	}

.info-panel__in { 
	padding: 15px;
	}

.calculation__info-panel .info-panel__in { 
	padding: 15px;
	}

.info-panel { 
	max-width: 470px;
	}

.info-panel__text { 
	font-size: 18px;
	line-height: 24px;
	}

.info-panel__icon { 
	width: 36px;
	}

.info-panel__icon img { 
	width: 100%;
	}

.conditions__item { 
	padding: 20px;
	border-radius: 10px;
	}

.conditions__icon { 
	width: 36px;
	}

.conditions__text { 
	font-size: 16px;
	line-height: 24px;
	}

}

@media (max-width: 900px) {

.delivery-header { 
	display: none;
	}

.tabs { 
	display: block;
	}

.tabs__nav { 
	margin: 0 0 30px;
	}

.tabs__nav ul { 
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0 15px;
	}

.tabs__content { 
	max-width: 100%;
	}

.contacts { 
	gap: 0 15px;
	}

.contacts__title { 
	margin: 0 0 5px;
	font-size: 14px;
	line-height: 20px;
	}

.contacts__phone { 
	font-size: 16px;
	line-height: 20px;
	}

.contacts__mail { 
	font-size: 16px;
	line-height: 20px;
	}

.contacts__description p { 
	font-size: 14px;
	line-height: 20px;
	}

.form-promo form { 
	grid-template-columns: repeat(2, 1fr);
	}

.form-promo__title br { 
	display: none;
	}

.form-promo form { 
	grid-template-columns: repeat(1, 1fr);
	text-align: left;
	}

.product-documentation__check-list { 
	margin-left: 0;
	}

.check-list__text { 
	font-size: 16px;
	line-height: 24px;
	}

.doc-panel { 
	padding: 15px 25px;
	max-width: 530px;
	border-radius: 10px;
	}

.doc-panel dt { 
	font-size: 16px;
	line-height: 20px;
	}

.doc-panel__text { 
	font-size: 16px;
	line-height: 20px;
	}

.footer__container { 
	display: grid;
  	grid-template-columns: repeat(2, 1fr);
  	gap: 20px 20px;
	}

.footer__col { 
	display: block;
	}

.development { 
	margin: 0 0 10px;
	}

.detail__photo { 
	width: 350px;
	}

.warranty__list { 
	margin: 0 0 50px;
	}

.warranty__description { 
	margin: 0;
 	}

.warranty__title { 
	margin: 0 0 5px;
	font-size: 20px;
	line-height: 26px;
	}

.warranty__title br { 
	display: none;
	}

.warranty__description p { 
	font-size: 16px;
	line-height: 20px;
	}

.warranty__description p br { 
	display: none;
	}

.warranty__description small { 
	margin: 5px 0 0;
	font-size: 14px;
	line-height: 20px;
	}

.warranty__description small br { 
	display: none;
	}

.warranty__doc { 
	position: static;
	margin: 0 auto;
	max-width: 450px;
	width: 100%;
	}

.consultation-form__top-panel { 
	flex-wrap: wrap;
	gap: 30px 50px;
	}

.consultation-form form { 
	grid-template-columns: repeat(1, 1fr);
	margin: 0 auto;
	max-width: 400px;
	}

.parts-supply__advantages { 
	gap: 15px 15px;
 	}

.parts-supply__item { 
	align-items: center;
	}

.parts-supply__icon { 
	margin-top: 0;
	}

.parts-supply__text { 
	font-size: 14px;
	line-height: 20px;
	}

.parts-supply__title br { 
	display: none;
	}

.parts-supply__title { 
	font-size: 36px;
	line-height: 46px;
	}

.parts-supply__subtitle { 
	margin: 0 0 30px;
	font-size: 26px;
	line-height: 30px;
	}

.filters { 
	padding: 10px 10px 25px;
	width: 240px;
	}

.positions__filters { 	
	margin: 0 15px 0 0;
	}

.accordion__item { 
	margin: 0 0 15px;
	}

.filters__accordion { 
	margin: 0 0 15px;
	}

.accordion__title { 
	font-size: 16px;
	}

.filters__btn { 
	margin: 0 0 15px;
	padding: 15px 20px;
	font-size: 16px;
	}

.filters__link { 
	font-size: 14px;
	}

.accordion__content-in { 
	padding: 15px 0 0;
	}

.accordion__list li { 
	padding: 0 0 0 10px;
	}

.accordion__checkbox input { 
	margin: 2px 7px 0 0;
	}

.accordion__checkbox label { 
	font-size: 14px;
	line-height: 24px;
	}

}

@media (max-width: 850px) {

.shipment { 
	position: relative;
	display: block;
	}

.shipment:before { 
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 30px;
	backdrop-filter: blur(3px);
	content: "";
	}

.shipment__description { 
	position: relative;
	max-width: 100%;
	color: #fff;
	z-index: 5;
	}

.shipment__title br { 
	display: none;
 	}

.calculation { 
	position: relative;
	}

.calculation:before { 
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 30px;
	backdrop-filter: blur(3px);
	content: "";
	}

.calculation__description { 
	position: relative;
	color: #fff;
	z-index: 5;
 	}

.calculation__info-panel.info-panel { 
	position: relative;
	z-index: 5;
 	}

}

@media (max-width: 800px) {

.form-promo__contacts { 
	display: flex;
	flex-wrap: wrap;
	gap: 20px 20px;
	}

.letters__item { 
	display: block;
	}

.letters__photo { 
	margin: 0 auto 30px;
	}

}

@media (max-width: 768px) {

.reviews-slider { 
	margin: 0 0 40px;
	max-width: 100%;
	}

.form-promo form { 
	width: 100%;
	}

.btn { 
	width: 100%;
	}

.get-catalog__form-main { 
	padding: 30px;
	max-width: 100%;
	border-radius: 10px;
	}

.consultation-form form { 
	max-width: 100%;
	}

.location__form-main { 
	max-width: 100%;
	}

.form-main { 
	padding: 30px;
	max-width: 100%;
	border-radius: 10px;
	}

.form-main__title br { 
	display: none;
	}

.detail__form { 
	max-width: 100%;
	}

.position-selection { 
	position: relative;
	}

.position-selection:before { 
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	backdrop-filter: blur(3px);
	background: rgba(0, 0, 0, 0.3);
	content: "";
	}

.position-selection__container { 
	position: relative;
	z-index: 5;
	}

}

@media (max-width: 767px) {

.success { 
	padding: 80px 0 0;
	}

.success__description { 
	margin: 0 0 40px;
	}

.success__manager-photo { 
	position: static;
	margin: 0 auto;
	max-width: 400px;
	width: 100%;
	bottom: 0;
	}

.success__text br { 
	display: none;
	}

.success__col { 
	display: block;
	}

.success__form { 
	margin: 0 0 30px;
	max-width: 100%;
	}

.success__manager { 
	padding: 0;
	}

.success__text { 
	font-size: 20px;
	line-height: 26px;
	}

.reminder span { 
	font-size: 18px;
	line-height: 24px;
	}

input[type="tel"], 
input[type="text"], 
input[type="email"], 
input[type="password"] { 
	padding: 0 25px;
	font-size: 18px;
	height: 76px;
	}

.btn { 
	padding: 14px 25px;
	font-size: 18px;
	line-height: 24px;
	}

.btn_calculator-icon { 
	padding-left: 70px;
	}

.btn_pdf-icon { 
	padding-left: 70px;
	}

.btn_pdf-icon:before { 
	left: 20px;
	}

.btn_calculator-icon:before { 
	width: 60px;
	height: 43px;
	}

.btn_cursor-icon { 
	padding-right: 60px;
	}

.btn_cursor-icon:after { 
	right: 20px;
	}

.success__manager dt { 
	font-size: 20px;
	line-height: 26px;
	}

.success__manager dd { 
	font-size: 14px;
	line-height: 20px;
	}

.success__manager-photo { 
	max-width: 300px;
	}

.question { 
	padding: 60px 0;
	}

.title-main { 
	font-size: 30px;
	line-height: 40px;
	}

.subtitle { 
	font-size: 20px;
	line-height: 30px;
	}

.phone-company span { 
	font-size: 20px;
	}

.btn_whatsapp-icon { 
	padding: 26px 25px 26px 60px;
	}

.btn_whatsapp-icon:after { 
	left: 25px;
	}

.tabs__nav ul { 
	display: block;
	}

.btn_arrow-right-icon { 
	padding: 26px 70px 26px 25px;
	}

.btn_arrow-right-icon:after { 
	right: 20px;
	}

.callback__description { 
	padding: 30px 30px 0;
	}

.callback__title { 
	font-size: 30px;
	line-height: 40px;
	}

.callback__description p { 
	font-size: 20px;
	line-height: 30px;
	}

.callback__form { 
	padding: 30px;
	}

.callback__btn { 
	padding: 26px 25px;
	}

 .info-panel { 
 	position: relative;
 	z-index: 5;
 	}

.title-main img { 
	width: 30px;
	}

.detail { 
	display: block;
	}

.detail__photo { 
	margin: 0 0 30px;
	width: 100%;
	}

.subtitle br { 
	display: none;
 	}

.title { 
	font-size: 24px;
	line-height: 28px;
	}

.product-documentation__description { 
	margin: 0 0 50px;
	}

.product-documentation__photo { 
	position: static;
	margin: 0 auto;
	max-width: 400px;
	width: 100%;
	}

.product-documentation__col { 
	margin: 0;
	}

.form-main__phone dt { 
	margin: 0 0 10px;
	font-size: 18px;
	}

.form-main__phone dd { 
	font-size: 24px;
	line-height: 30px;
	}

.title-main_indent-bottom-big { 
	margin: 0 0 30px;
	}

.letters__title br { 
	display: none;
	}

.types-delivery__item { 
	width: 270px;
	min-width: 270px;
	}

.calculation__title br { 
	display: none;
	}

.protection__photo img { 
	border-radius: 15px;
	}

.protection__description { 
	padding: 0;
	}

.info-small-panel p { 
	font-size: 14px;
	line-height: 20px;
	}

.info-small-panel__icon { 
	margin: 0 10px 0 0;
	width: 24px;
	}

.protection__title { 
	font-size: 20px;
	line-height: 24px;
	}

.catalog__item { 
	width: 270px;
	min-width: 270px;
	}

.form-promo__text br { 
	display: none;
	}

.parts-supply__advantages { 
	flex-wrap: wrap;
	gap: 20px 30px;
	}

.info__item { 
	width: 270px;
	min-width: 270px;
	}

.info__photo { 
	margin: 0 0 20px;
	height: 200px;
	}

.info__title { 
	font-size: 20px;
	line-height: 30px;
	}

.agromir-info__item { 
	width: 270px;
	min-width: 270px;
	border-radius: 15px;
	}

.agromir-info__description { 
	padding: 100% 15px 15px;
	}

.agromir-info__title { 
	font-size: 20px;
	line-height: 26px;
	}

.title-main { 
	margin: 0 0 20px;
	}

.quality__text { 
	font-size: 22px;
	line-height: 30px;
	}

.form-main { 
	padding: 30px;
	}

.photos__item { 
	width: 270px;
	min-width: 270px;
	}

.positions__col { 
	display: block;
	}

.positions__filters { 
	margin: 0 0 30px;
	width: 100%;
	}

.product-catalog__title { 
	height: 48px;
	font-size: 16px;
	line-height: 24px;
	}

.btn_more-icon { 
	padding: 30px 60px 30px 25px;
	}

.btn_more-icon:after {
	width: 20px;
	height: 20px; 
	right: 25px;
	}

}

@media (max-width: 680px) {

.contacts { 
	flex-direction: column;
	gap: 30px 0;
	margin: 0 auto;
	max-width: 280px;
	}

.doc-panel { 
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100%;
	}

.doc-panel dt { 
	margin: 0 0 30px;
	width: 100%;
	text-align: center;
	}

.doc-panel dt br { 
	display: none;
	}

.manager { 
	grid-template-columns: repeat(1, 1fr);
	}

}

@media (max-width: 640px) {

.header__mail { 
	display: none;
	}

}

@media (max-width: 580px) {

.logo { 
	align-items: center;
	}

.logo__img { 
	margin: 0 10px 0 0;
	width: 80px;
	}

.logo__description { 
	padding: 0;
	}

.question__panel { 
	flex-direction: column;
	gap: 30px 0;
	}

.title-main { 
	margin: 0 0 15px;
	font-size: 23px;
	line-height: 30px;
	}

.subtitle { 
	font-size: 16px;
	line-height: 24px;
	}

.check-list { 
	margin: 0 0 20px;
	}

.check-list li { 
	margin: 0 0 10px;
	}

.form-promo__title { 
	margin: 0 0 20px;
	font-size: 23px;
	line-height: 28px;
	}

.office-info__time { 
	font-size: 18px;
	line-height: 24px;
	}

.promo-code__title span { 
	padding: 8px 15px;
	font-size: 20px;
	line-height: 30px;
	border-radius: 10px;
	}

.promo-code__img { 
	max-width: 300px;
	}

.subtitle__cursor-icon { 
	width: 30px;
	height: 30px;
	background-size: 16px;
	}

.consultation-form__in { 
	padding: 30px;
	}

.consultation-form__title { 
	font-size: 20px;
	line-height: 30px;
	}

.consultation-form__title br { 
	display: none;
	}

.protection { 
	grid-template-columns: repeat(1, 1fr);
	gap: 40px 0;
	}

.conditions { 
	grid-template-columns: repeat(1, 1fr);
	}

.parts-supply__title { 
	font-size: 30px;
	line-height: 40px;
	}

.parts-supply__subtitle { 
	font-size: 20px;
	line-height: 26px;
	}

.parts-supply__item { 
	width: 100%;
	}

.parts-supply__text { 
	font-size: 16px;
	line-height: 24px;
	}

.parts-supply__text br { 
	display: none;
	}

.parts-supply__icon { 
	width: 47px;
	}

.quality__text { 
	font-size: 18px;
	line-height: 24px;
	}

.types-payment__item {
	width: 270px;
	min-width: 270px;
	border-radius: 15px;
	}

.types-payment__item p { 
	font-size: 14px;
	line-height: 20px;
	}

.info-small-panel p br { 
	display: none;
	}

.manager__title { 
	font-size: 23px;
	line-height: 30px;
	}

}

@media (max-width: 520px) {

.success { 
	padding: 50px 0 0;
	}

.success__title { 
	font-size: 30px;
	line-height: 40px;
	}

.success__text { 
	font-size: 18px;
	line-height: 24px;
	}

.reminder span { 
	font-size: 16px;
	line-height: 24px;
	}

.success__manager-photo { 
	max-width: 200px;
	}

.success__manager dd br { 
	display: none;
	}

.callback__description { 
	padding: 20px 20px 0;
	}

.callback__title { 
	font-size: 24px;
	line-height: 30px;
	}

.callback__description p { 
	font-size: 18px;
	line-height: 24px;
	}

.callback__form { 
	padding: 20px;
	}

.shipment__title { 
	font-size: 26px;
	line-height: 30px;
	}

.shipment {
	padding: 15px;
	border-radius: 15px;
	}

.shipment__description p { 
	font-size: 16px;
	line-height: 20px;
	}

.types-delivery__item { 
	border-radius: 15px;
 	}

.shipment { 
	margin: 0 0 30px;
 	}

.footer { 
	padding: 15px 0;
	}

.footer__container { 
	gap: 10px 10px;
	}

.development { 
	align-items: center;
	}

.development__logo { 
	margin: 0 10px 0 0;
	}

.development__text { 
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	}

.footer__link { 
	padding: 0;
	font-size: 12px;
	}

.calculation { 
	padding: 15px;
	border-radius: 15px;
	}

.shipment:before { 
	border-radius: 15px;
	}

.info-panel__text br { 
	display: none;
	}

.calculation:before { 
	border-radius: 15px;
	}

.calculation__title { 
	font-size: 26px;
	line-height: 30px;
	}

.calculation__description p { 
	font-size: 16px;
	line-height: 20px;
	}

.product-catalog { 
	grid-template-columns: repeat(1, 1fr);
	}

}

@media (max-width: 480px) {

.header { 
	padding: 15px 0;
	}

.header__logo .logo__img:before { 
	display: none;
	}

.header__logo .logo__img { 
	width: 80px;
	height: auto;
	}

.header__logo .logo__img img { 
	width: 100%;
	height: 100%;
	top: 0;
	}

.hystmodal .hystmodal__window { 
	border-radius: 15px;
	}

.hystmodal__wrap { 
	padding: 0 15px;
	}

.hystmodal .hystmodal__close { 
	width: 14px;
	height: 14px;
	top: 8px;
	right: 8px;
	background: url(../img/bg/close-icon-orange.svg) center no-repeat;
  	background-size: 100%;
	}

.form-promo_changed .form-promo__top-col { 
	padding: 15px;
	}

.form-promo__bottom-col { 
	padding: 15px;
	}

.form-promo__text { 
	font-size: 16px;
	line-height: 20px;
	}

.callback__description { 
	border-radius: 15px;
 	}

.sending-method__icon { 
	margin: 0 10px 0 0;
	}

.sending-method__text { 
	font-size: 12px;
	}

.small-title { 
	font-size: 14px;
	}

.checkbox label a { 
	border-bottom: 1px solid rgba(245, 143, 11, 0.3);
	}

.checkbox label a:after { 
	display: none;
	}

.product-info { 
	padding: 30px 0 70px;
	}

.bread-crumbs { 
	margin: 0 0 30px;
	}

.bread-crumbs li { 
	font-size: 12px;
	line-height: 20px;
	}

.detail { 
	margin: 0 0 40px;
	}

.detail__title { 
	font-size: 30px;
	line-height: 40px;
	}

.form-promo__top-col { 
	padding: 20px 15px;
	}

.detail__form fieldset:nth-child(3) { 
	justify-content: flex-start;
	}

.detail__photo { 
	height: 260px;
	border-radius: 10px;
	}

.form-promo form { 
	gap: 15px 10px;
	}

.detail__form { 
	max-width: 100%;
	}

.footer__link { 
	display: inline;
	}

.footer__logo { 
	display: block;
	}

.logo__img { 
	margin: 0 0 10px;
	}

.spare-parts__title span { 
	padding: 8px 20px;
	font-size: 20px;
	line-height: 26px;
	border-radius: 10px;
	}

.address__img { 
	width: 48px;
	}

.address__description span { 
	font-size: 14px;
	line-height: 20px;
	}

.address__description span br { 
	display: none;
	}

.map-link a { 
	font-size: 14px;
	}

.manager__title { 
	font-size: 20px;
	line-height: 26px;
	}

.list li { 
	padding: 0 0 0 16px;
	font-size: 14px;
	line-height: 24px;
	}

.list li:before { 
	top: 10px;
	width: 6px;
	height: 6px;
	}

.consultants__item { 
	width: 270px;
	min-width: 270px;
	}

.letters__slider { 
	padding: 0 20px;
	}

.btn_cursor-icon { 
	padding: 14px 25px;
	}

.btn_cursor-icon:after {
	display: none;
	}

.letters__slider .swiper-button-next, 
.letters__slider .swiper-button-prev { 
	top: 200px;
	}

.letters__photo { 
	max-width: 430px;
	}

.work__form-promo .form-promo__top-col { 
	padding: 15px;
	}

.agromir-info__description p { 
	font-size: 14px;
	line-height: 24px;
	}

.info-panel__text { 
	font-size: 16px;
	line-height: 22px;
 	}

}

@media (max-width: 420px) {

.reminder span br { 
	display: none;
	}

input[type="tel"], 
input[type="text"], 
input[type="email"], 
input[type="password"] { 
	padding: 0 20px;
	font-size: 16px;
	border-radius: 8px;
	}

.cost-calculation { 
	border-radius: 12px;
	}

.detail__title { 
	font-size: 28px;
	line-height: 38px;
	}

.title { 
	margin: 0 0 20px;
	font-size: 20px;
	line-height: 26px;
	}

.cost-calculation__in { 
	padding: 15px;
	}

.btn_calculator-icon { 
	padding: 14px 25px;
	}

.doc-panel { 
	gap: 30px 20px;
	}

.doc-panel dt { 
	margin: 0;
	}

.btn_calculator-icon:before { 
	display: none;
	}

.doc-panel { 
	padding: 15px;
	}

.form-main { 
	padding: 15px;
	}

.location__form-main { 
	padding: 15px;
	}

.get-catalog__form-main { 
	padding: 15px;
	}

.consultation-form__in { 
	padding: 15px;
	}

.letters__comment { 
	padding: 15px;
	}

.letters__name { 
	margin: 0 0 10px;
	line-height: 20px;
	}

.letters__comment p { 
	font-size: 14px;
	line-height: 20px;
	}

.letters__post { 
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	}

.info-panel__text { 
	font-size: 14px;
	line-height: 20px;
	}

.info-panel__icon { 
	margin: 0 15px 0 0;
	width: 30px;
	}

.info-panel__text { 
	line-height: 18px;
	}

.types-payment__item { 
	padding: 20px;
	}

}

@media (max-width: 400px) {

.header__logo .logo__img { 
	width: 60px;
	}

.logo__description { 
	font-size: 10px;
	line-height: 14px;
	}

.phone__number { 
	margin: 0 0 3px;
	font-size: 14px;
	line-height: 16px;
	}

.phone__work { 
	margin: 0 0 3px;
	font-size: 12px;
	line-height: 16px;
	}

.phone__link {
	font-size: 10px;
	line-height: 14px;
	}

.mail__address { 
	font-size: 12px;
	line-height: 16px;
	}

.small-title { 
	line-height: 20px;
	}

.hystmodal .hystmodal__window { 
	padding: 15px;
	}

.hystmodal .title-main { 
	font-size: 22px;
	line-height: 28px;
	}

.shipment__title { 
	font-size: 22px;
	line-height: 26px;
	}

.btn br { 
	display: none;
	}

.hystmodal .types-delivery { 
	margin: 0 -15px;
	padding: 0 15px;
	}

.hystmodal .hystmodal__close { 
	width: 12px;
	height: 12px;
	top: 8px;
	right: 8px;
	}

#promo-code .hystmodal__window { 
	padding: 15px 15px 0;
	}

.promo-code__form { 
	margin-bottom: 30px;
	}

.promo-code__title { 
	margin: 0 0 10px;
	}

.promo-code__title span { 
	font-size: 16px;
	line-height: 20px;
	border-radius: 5px;
	}

.warranty__item { 
	margin: 0 0 25px;
	}

.warranty__title { 
	font-size: 18px;
	line-height: 24px;
	}

.calculation__title { 
	font-size: 20px;
	line-height: 26px;
	}

.form-main__title { 
	margin: 0 0 20px;
	font-size: 22px;
	line-height: 30px;
	}

.product-catalog__item { 
	padding: 15px;
	}

.btn_more-icon { 
	padding: 22px 55px 22px 25px;
	}

.btn_more-icon:after {
	width: 18px;
	height: 18px; 
	right: 20px;
	}

.form-main__title { 
	font-size: 20px;
	line-height: 22px;
	}

.form-main__sub-title { 
	font-size: 14px;
	line-height: 20px;
	}

.btn { 
	font-size: 14px;
	line-height: 18px;
	}

input[type="tel"], input[type="text"], input[type="email"], input[type="password"] { 
	padding: 0 15px;
	font-size: 14px;
	height: 64px;
	}

.form-main__text { 
	margin: 0 0 20px;
	font-size: 16px;
	line-height: 20px;
	}

.form-main__phone { 
	margin: 20px 0 0;
	padding: 20px 0 0;
	}

.form-main__phone dt {
	margin: 0 0 5px; 
	font-size: 16px;
	line-height: 20px;
	}

.form-main__phone dd { 
	font-size: 20px;
	line-height: 24px;
	}

}

@media (max-width: 370px) {

.header__logo .logo__img { 
	width: 70px;
	}

.header__logo .logo__description { 
	display: none;
	}

.development { 
	display: block;
	}

.development__logo { 
	margin: 0 0 10px;
	}

.mail__address { 
	padding: 0 0 0 24px;
	}

.mail__text { 
	padding: 0;
	font-size: 11px;
	}

.mail__address:before { 
	width: 18px;
	line-height: 14px;
	}

.development__text br { 
	display: none;
	}

.success__title { 
	font-size: 24px;
	line-height: 34px;
	}

.success__text { 
	font-size: 16px;
	line-height: 20px;
	}

.reminder span { 
	font-size: 14px;
	line-height: 20px;
	}

.btn_arrow-right-icon { 
	padding: 26px 25px;
	width: 100%;
	}

.btn_arrow-right-icon:after { 
	display: none;
	} 

.office-info__time { 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px 10px;
	font-size: 16px;
	line-height: 20px;
	}

.sending-method { 
	display: block;
	}

.sending-method__item { 
	width: 100%;
	}

.types-delivery__item { 
	padding: 15px;
	min-width: 250px;
	width: 250px;
	}

.btn_pdf-icon { 
	padding-left: 55px;
	}

.btn_pdf-icon:before { 
	left: 10px;
	}

}